@{
    ViewBag.Title = "Home Page";
}

<section class="home-s">

    <div class="menu">

        @Html.Partial("_AdminFunctions")
    </div>


    <div class="search-group">
        <img src="~/Content/Img/logo.svg" alt="DarkDarkWeb" class="search-logo">

        <form action="@Url.Action("Search")" method="post" class="search-form">
            @Html.AntiForgeryToken()
            <input name="keywordsString" class="search-input" type="text" placeholder="Search resources">
            <button class="submit-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
            <p class="search-spy">Spying on you since NOW</p>
        </div>
</section>