
<div class="admin-functions">
    <a href="@Url.Action("Index", "Resource")" class="menu-item">
        <i class="fas fa-list-ul"></i>
        <h4 class="menu-item-title">Resources</h4>
    </a>
    <a href="@Url.Action("Index", "Category")" class="menu-item">
        <i class="fas fa-list-ul"></i>
        <h4 class="menu-item-title">Categories</h4>
    </a>
</div>